/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	width:100%;
	z-index:8;
	padding: 5px 10px;
	opacity: 0.8;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	border: 0 none;
	bottom: 55px;
	position: absolute;
	text-align: center;
	line-height: 0;
	width: 100%;
	left: 0;
	z-index: 99;
}
.nivo-controlNav a {
	cursor: pointer;
	font-size: 0;
	height: 10px;
	width: 15px;
	margin: 0 5px;
	background: #fff;
	position: relative;
	display: inline-block;
	vertical-align: top;
	transition: all 0.45s ease 0s;
	-webkit-transition: all 0.45s ease 0s;
	-moz-transition: all 0.45s ease 0s;
	-o-transition: all 0.45s ease 0s;
}
.nivo-controlNav a.active{width: 40px}
.nivo-controlNav a.active,
.nivo-controlNav a:hover {
	background: #bd1220;
	transition: all 0.45s ease 0s;
	-webkit-transition: all 0.45s ease 0s;
	-moz-transition: all 0.45s ease 0s;
	-o-transition: all 0.45s ease 0s;
}

.nivo-directionNav a {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 47%;
    z-index: 9;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 60px;
    width: 60px;
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -o-opacity: 0;
    cursor: pointer;
}
#slider:hover .nivo-prevNav, #slider:hover .nivo-nextNav {
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
}
.nivo-prevNav {
    left: 100px;
    right: auto;
    background: url("../../image/arrow left.png") no-repeat scroll center 7px;
	background-size: 58%;
    transition: all 0.45s ease 0s;
    -webkit-transition: all 0.45s ease 0s;
    -moz-transition: all 0.45s ease 0s;
    -o-transition: all 0.45s ease 0s;
}
.nivo-nextNav {
    left: auto;
    right: 100px;
    background:url("../../image/arrow right.png") no-repeat scroll center 7px;
	background-size: 58%;

	transition: all 0.45s ease 0s;
    -webkit-transition: all 0.45s ease 0s;
    -moz-transition: all 0.45s ease 0s;
    -o-transition: all 0.45s ease 0s;
}
.nivo-directionNav a:hover {
    background-position: center -168px;
}
.nivo-directionNav .nivo-nextNav:hover
{
    background-position: center -168px;
}
@media (max-width:991px) {
	.nivo-prevNav{left: 50px;}
	.nivo-nextNav{right: 50px;}
}
@media (max-width: 767px) {
	.nivo-directionNav{
		display: none;
	}
}
